<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diffbot_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dynamixel_hardware/DynamixelHardware</plugin>
        <param name="usb_port">/dev/ttyUSB0</param>
        <!-- you need to fix baud rate fitting with your dynamixel setting-->
        <param name="baud_rate">1000000</param>
      </hardware>
      <joint name="${prefix}left_wheel_joint">
        <param name="id">1</param> <!-- fix id with your dynamixel motors setting -->
        <command_interface name="velocity"/>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <param name="id">2</param><!-- fix id with your dynamixel motors setting -->
        <command_interface name="velocity"/>
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
