<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />
  <!-- Must match Hesai driver's ros.ros_frame_id (Issue #30). -->
  <xacro:arg name="jt16_link_name" default="hesai_lidar" />
  <!-- Measured from sanehal_base_link to the JT16 bottom-center datum. -->
  <xacro:arg name="jt16_xyz" default="-0.080 0 0.250" />
  <xacro:arg name="jt16_rpy" default="0 0 0" />

  <xacro:include filename="$(find sanehal_vehicle_description)/urdf/sanehal.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find sanehal_vehicle_description)/gazebo/sanehal.materials.xacro" />

  <!-- Import sanehal ros2_control description -->
  <xacro:include filename="$(find sanehal_vehicle_description)/ros2_control/sanehal.ros2_control.xacro" />

  <link name="$(arg prefix)base_link" />
  <xacro:sanehal
      prefix="$(arg prefix)"
      jt16_link_name="$(arg jt16_link_name)"
      jt16_xyz="$(arg jt16_xyz)"
      jt16_rpy="$(arg jt16_rpy)"
      parent="$(arg prefix)base_link">
    <origin
        xyz="0 0 0"
        rpy="0 0 0" />
  </xacro:sanehal>
  <xacro:sanehal_ros2_control
    name="Sanehal" prefix="$(arg prefix)" />

</robot>
